*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    width: 100%;
    background: #f3f1f5;
}

/** Estilos de las cards */

.product-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 10px;
    min-width: 250px;
    min-height: 470px;
    width: 250px;
    height: 420px;
    border-radius: 5px;
    background-color: hsl(174, 98%, 23%, 0.8);
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.452); 
    overflow: hidden;
    color: white;
}

.card span {
    position: absolute;
    display: inline-block;
    padding: 8px;
    top: 20px;
    color: white;
    font-weight: 700;
    font-size: 12px;
    border-radius: 100px;
    background-color: red;
    right: 20px;
}

.card label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    width: 80%;
    font-weight: 500;
}

.card p {
    margin-top: 10px;
}

.card button {
    padding: 10px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 600;
}

.card button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: hsl(174, 98%, 23%);
    border: 2px solid hsl(174, 98%, 15%);
    transition: 0.3s;
}

.card input {
    margin-left: 10px;
    text-align: center;
    max-width: 30px;
    min-width: 50px;
    width: 50px;
    height: 30px;
    border-style: none;
    border-radius: 3px;
    background-color: hsl(174, 98%, 23%, 0.9);
    color: white;
    font-weight: 700;
    outline: none;
}

.card h3 {
    display: flex;
    align-items: center;
    margin-top: 10px;
    height: 45px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: white;
}

.card-image-container {
    width: 100%;
    height: 60%;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid rgb(0, 0, 0, 0.1);
}

.card__image {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

/** Estilos del carrito off canvas */

.carrito-cards-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100vh;
    background-color: gray;
}
