*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f3f1f5;
}

.card{
    margin: 20px;
   width: 200px;
   height: 300px;
   border-radius: 5px;
   background: url(../img/fondo.jpg);
   background-size: cover;
   box-shadow: 3px 5px 5px rgba(3,32,51,.8); 
   overflow: hidden;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0,0,0,.4);
    opacity: 0;
    transition: .5;
    
}

.content h2, a{
    color:black;
    margin:10px 0;
    text-decoration: none;
}

.content:hover{
    opacity: 1;
}
